# version: '3.8'

# services:
#   prometheus:
#     image: prom/prometheus
#     ports:
#       - "9090:9090"
#     volumes:
#       - ./docker/prometheus:/etc/prometheus
#     depends_on:
#       - django
#       - redis-exporter

#   grafana:
#     image: grafana/grafana
#     ports:
#       - "3000:3000"
#     volumes:
#       - ./docker/grafana/provisioning:/etc/grafana/provisioning
#     depends_on:
#       - prometheus

#   redis-exporter:
#     image: oliver006/redis_exporter
#     ports:
#       - "9121:9121"
#     environment:
#       - REDIS_ADDR=redis://redis:6379