# Core Dependencies
asgiref
Django
django-ratelimit
django-redis
djangorestframework
djangorestframework_simplejwt
PyJWT
python-dotenv
sqlparse
tzdata

# Celery & Task Management
celery  # Using the latest version from your list
django-celery-beat
django-celery-results

# Redis
redis  # Using the latest version

# Report Generation
matplotlib
# Pillow==10.0.0
reportlab
seaborn

# Data Analysis
numpy
pandas
pandas-ta
scipy

# # AWS Integration
# boto3==1.28.25
# botocore

# API Documentation
drf-spectacular

# IPFS
ipfshttpclient